@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}
footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec
{
    color: white;
    margin-right: 30px;
}
.quicklinks
{
    position: relative;
    width: 25%;
    padding-left: 2cm;
}
.quicklinks ul li
{
    list-style: none;
}
.quicklinks ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks ul li a:hover
{
    color: #fff;
}
.contact
{
    padding-left: 3cm;
    width: calc(35% - 50px);
    margin-right: 0 !important;
}
.contact .info
{
    position: relative;
}
.contact .info li
{
    display: flex;
    margin-bottom: 16px;
    color: #999;
}
.contact .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span
{
    color: #999;
}
.contact .info li a
{
    color:#999;
    text-decoration: none;
}
.contact .info li a:hover
{
    color: #fff;
}
.copyright
{
    width: 100%;
    background: #181818;
    text-align: center;
    color: #999;
}
.faq
{
    position: relative;
    width: 40%;
    padding-left: 5cm;
    color: #fff;
}

.faq ul li
{
    list-style: none;
}

.faq .faq1 li
{
    color: #fff;
    margin-bottom: 16px;  
}
.faq .faq1 li a
{
    color:#999;
    text-decoration: none;
}
.faq .faq1 li a:hover
{
    color: #fff;
}
